<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Baublebar">

<test name="SignupForDiscountTest">
    <classes>
        <class name="com.baublebar.testcases.SignupForDiscountTest" ></class>  
    </classes>
</test>

<test name="CreateAccountTest">
    <classes>
        <class name="com.baublebar.testcases.CreateAccountTest" ></class>  
    </classes>
</test>

<test name="AddToWishListTest">
    <classes>
        <class name="com.baublebar.testcases.AddToWishListTest" ></class>  
    </classes>
</test>


</suite>
